 
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.navbar-fixed{
    position:fixed;
}
.navbar{
    padding:30px;
    height: 80px; 
   
    
}
button i{
    color:#000
}

.nav-item{
    margin-left: 130px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: 400;
    margin-top:8px;
    
}
.navbar-brand{
   font-family: 'Kanit', sans-serif;
   font-weight: 1000;

   margin-left:30px
}
.nav-2{
background-color: #fff;
color:#000;
} 
.nav-2 a{
color:#000;

}
.nav-2 a:hover{
    color:#000;
    
    }
    .navbar-fixed{
        padding:30px;
        height: 80px;  
        width:100%;
       
    }
     .navbar-fixed  .nav-item{
        margin-left: 180px;
        font-family: 'Libre Baskerville', serif;
        font-size: 20px;
        font-weight: 400;
        margin-top:8px;
        
    }
    .navbar-fixed .navbar-brand{
       font-family: 'Kanit', sans-serif;
       font-weight: 1000;
    
       margin-left:30px
    }
    .navbar-fixed {
    background-color: #fff;
    color:#000;
    } 
    .navbar-fixed  a{
    color:#000;
    
    }
    .navbar-fixed  a:hover{
        color:#000;
        
        }
       
    .collapse .navbar-nav .nav-icon{
            font-size:30px;
            margin-left: 180px;
            right:0;

        }  
     
            
        
              
              
        @media screen and (max-width:1500px) {
            .navbar .navbar-brand {
                font-weight: 1000;

                margin-left:30px
            }
         .collapse .navbar-nav .nav-icon{
                font-size:28px;
                margin-left: 80px;
                
            }
            .nav-item{
                margin-left: 110px;
                font-family: 'Libre Baskerville', serif;
                font-size: 20px;
                font-weight: 400;
                margin-top:4px;
                
            }
            .navbar .navbar-collapse {
                text-align: center;
            }
            
            .navbar-collapse {
                z-index: 1;
                background-color: transparent;
                height:320px;
                width:100px;
            }
           }
          
           @media screen and (max-width:990px){
           
            .navbar .navbar-brand {
                font-weight: 1000;

                margin-left:30px;
            }
                
            .navbar{
                padding:10px;
                height: 80px; 
                align-items: center;
                
            }
            .navbar-nav .nav-icon{
            
                margin-right: 85px;
             
            }
            
            .nav-item{
                margin-left: 20px;
                font-family: 'Libre Baskerville', serif;
                font-size: 20px;
                font-weight: 400;
                margin-top:8px;
                
            }
            .navbar .navbar-collapse {
                text-align: center;
            }
            
            .navbar-collapse {
                z-index: 1;
                background-color: #fff;
                height:320px;
                width:100px;
            }
           }
           
           @media (max-width:450px){
            .navbar .navbar-brand {
                font-weight: 1000;

                margin-left:7px
            }}