
    .content-wrapper2{
      background-color: #fff;
      overflow-x: hidden;
    }
    .clb{
       
        
        height: 380px;
        background-color:#1A1F14;
        width:400px;
        padding:50px;
        
        margin-top:10%;
        position:absolute;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
    }
    .description img{}
    .clb img{
        position: relative;
        top:-90px;
        left: 20px;
        height: 250px;
        width: 350px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .tx{
        color: #85D236;
        font-family: 'Libre Baskerville', serif;
        font-size: 40px;
        text-transform: uppercase;
        padding:70px;
        margin-left: 110px;
        font-weight: 600;
    }
    .search{
         
        margin:50px;
        margin-left: 340px;
        
         
    }
    .recherche{
        padding-top: 50px;
        padding-left:50px;
        align-items:baseline;
        
        
    }
    .events1{
        background-color:#1A1F14;
    }
    
    .events1 .image{
        height:300px;
        margin-left:60px;
        width:500px;
        position:absolute;
        top: -30px;
        left: 0;
        
    }
    .events1 h3{
        margin-left:70px;
       padding-top: 50px;
       color: #fff;
       font-size: 40px;
       font-family: 'Libre Baskerville', serif;
    }
    .events1 .title{
        position:absolute;
        right:200px;
        top:20px;
        font-size: 40px;
        width: 500px;
        padding:20px;
      
        font-weight: 900;
        text-transform: uppercase;
        font-family:'Bebas Neue';
    }
    .events1 .title span{
        color:#85D236;
        word-spacing:500px;
        font-weight: bold;
        
    }
    form{
        max-width: 70rem;
        margin-left:10%;
        text-align: center;
        padding:1rem 0;
        
    }
     
    
    form .box{
        width: 60%;
        margin: .7rem 0;
        padding:1rem 1.2rem;
        font-size: 1.6rem;
        color:var(--grey);
        border-radius: 2.5rem;
        text-transform: none;
    }
   .clb .btn{
      
        border-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #85D236;
        width:180px;
        color: #fff;
        font-family: 'Libre Baskerville', serif;
        font-size: 20px;
        font-weight: 300;
        height:50px;
       margin-left:150px;
    }
    .clb h3{
     
        
        position: absolute;
        top: 230px;
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
        left:70px;

      }
    
    form .btn-search{
      
        border-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #85D236;
        width:120px;
        color: #fff;
        font-family: 'Libre Baskerville', serif;
        font-size: 25px;
        font-weight: 300;
        height:60px;
        border-color:transparent;
       
    }
    form .search-input{
        border-top-right-radius:none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width:150px;
    }
    h3{
        font-size: 20px;
        font-weight: 100px;
        color:#f9fbff;
        padding-bottom: 10px;
        
    }
  .btn-2{
          
    border-radius: 0;
    
    background-color: #cecece;
    width:100px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 500;
    height:60px;
    border-color: #bdbdbd;
   
  }
  .btn-3{
          
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #cecece;
    width:70px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
   border-color: transparent;
    height:60px;

  }
    form {
    width: 100%;
    max-width: 790px;
    margin-left: 25%;
  }
  
    form .inner-form {
    width: 100%;
  }
  
    form .inner-form .input-field {
    position: relative;
  }
  
    form .inner-form .input-field input {
    height: 100%;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 3px;
    height: 70px;
    color: #555;
    font-family: 'Lato', sans-serif;
  }
  
    form .inner-form .input-field input.placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
  }
  
    form .inner-form .input-field input:-moz-placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
  }
  
    form .inner-form .input-field input::-webkit-input-placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
  }
  
    form .inner-form .input-field input:hover,   form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }
  
    form .inner-form .input-field .btn-search {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: #85D236;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  }
  
    form .inner-form .input-field .btn-search:hover,   form .inner-form .input-field .btn-search:focus {
    background: #85D236;
  }
  
    form .inner-form .input-field .btn-delete {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: transparent;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #666;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
  }
  
    form .inner-form .input-field .btn-delete:hover,   form .inner-form .input-field .btn-delete:focus {
    color: #000;
    outline: 0;
    box-shadow: none;
  }
  
    form .inner-form .basic-search {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #85D236;
  }
  
    form .inner-form .basic-search .input-field {
    width: 100%;
  }
  
    form .inner-form .basic-search .input-field input {
    padding: 10px 80px 10px 40px;
  }
  
    form .inner-form .basic-search .input-field .icon-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    width: 60px;
    height: 100%;
  }
  
    form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 34px;
    height: 34px;
    fill: #ccc;
  }
  
    form .inner-form .advance-search {
    background: #fff;
    padding: 40px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
  
    form .inner-form .advance-search .desc {
    font-size: 20px;
    color: #999;
    display: block;
    margin-bottom: 26px;
    font-weight: bold;
  }
  
    form .inner-form .advance-search .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 20px;
  }
  
    form .inner-form .advance-search .row.second {
   
  }
  
    form .inner-form .advance-search .row.third {
    margin-bottom: 0;
  }
  
    form .inner-form .advance-search .row.third .input-field {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
  }
  
    form .inner-form .advance-search .row.third .input-field .result-count {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    width: 110px;
    color: #666;
    font-size: 14px;
  }
  
    form .inner-form .advance-search .row.third .input-field .result-count span {
    color: #85D236;
    padding-right: 5px;
  }
  
    form .inner-form .advance-search .input-field {
    width: calc((100% - 40px) / 2);
  }
  
    form .inner-form .advance-search .input-select {
    height: 60px;
    
  }
  
    form .inner-form .advance-search .choices__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    padding-right: 30px;
    font-size: 14px;
    min-height: 40px;
  }
  
    form .inner-form .advance-search .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 5px 18px;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
  }
  
    form .inner-form .advance-search .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    opacity: 1;
    color: #666;
    font-weight: bold;
  }
  
    form .inner-form .advance-search .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    color: #85D236;
    font-weight: bold;
  }
  
    form .inner-form .advance-search .choices__list.choices__list--dropdown {
    border: 0;
    background: #fff;
    padding: 10px 18px 20px 18px;
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  }
  
    form .inner-form .advance-search .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
  }
  
    form .inner-form .advance-search .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: transparent;
    color: #85D236;
  }
  
    form .inner-form .advance-search .choices__list--dropdown .choices__item {
    color: #666;
    min-height: 20px;
    padding: 8px 0;
    font-weight: bold;
  }
  
    form .inner-form .advance-search .choices[data-type*="select-one"]:after {
    border: 0;
    width: 32px;
    height: 32px;
    margin: 0;
    transform: none;
    opacity: 1;
    right: 15px;
    top: 6px;
    background-size: 18px 18px;
    background-position: right center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }
  
    form .inner-form .advance-search .choices[data-type*="select-one"].is-open {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  }
  
    form .inner-form .advance-search .choices[data-type*="select-one"].is-open:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
  }
  
    form .inner-form .advance-search .choices[data-type*="select-one"] .choices__button {
    display: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .card-sl{
    max-width:320px;
     }
  @media screen and (max-width: 991px) {
    .card-sl{
max-width:320px;
 }.tx{
    
     font-size: 30px;
    
     margin-left: 50px;
   
 }
   form .inner-form  {
     padding: 10px 80px 10px 15px;
   }
   form .inner-form  {
     margin-right: 150px ;
     width:70%
   }
     form .inner-form .basic-search .input-field input {
     padding: 10px 80px 10px 15px;
   }
     form .inner-form .basic-search .input-field .icon-wrap {
     width: 80px;
     -ms-flex-pack: center;
         justify-content: center;
   }
     form .inner-form .basic-search .input-field .icon-wrap svg {
     width: 30px;
     height: 30px;
   }
     form .inner-form .advance-search {
     padding: 30px 15px;
   }
     form .inner-form .advance-search .row {
     display: block;
   }
     form .inner-form .advance-search .input-field {
     width: 100%;
     margin-bottom: 20px;
   }
   .card-image img {
  
    position: relative;
     left: 40px!important;
     margin-top:10px;
     width: 90%!important;
     margin-right: 20px;
    
    
 }
 .card-sl {
   background-color: #1A1F14;
   width:90%;
   margin-left: 50px;                                      
   margin-right: 80px;
   margin-bottom: 40px;
   border-radius: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }



}
  @media screen and (max-width: 790px) {
     .card-sl{
max-width:250px
  }.tx{
     
      font-size: 30px;
     
      margin-left: 50px;
    
  }
    form .inner-form  {
      padding: 10px 80px 10px 15px;
    }
    form .inner-form  {
      margin-right: 150px ;
      width:70%
    }
      form .inner-form .basic-search .input-field input {
      padding: 10px 80px 10px 15px;
    }
      form .inner-form .basic-search .input-field .icon-wrap {
      width: 80px;
      -ms-flex-pack: center;
          justify-content: center;
    }
      form .inner-form .basic-search .input-field .icon-wrap svg {
      width: 30px;
      height: 30px;
    }
      form .inner-form .advance-search {
      padding: 30px 15px;
    }
      form .inner-form .advance-search .row {
      display: block;
    }
      form .inner-form .advance-search .input-field {
      width: 100%;
      margin-bottom: 20px;
    }
    .card-image img {
   
     position: relative;
      left: 40px!important;
      margin-top:10px;
      width: 90%!important;
      margin-right: 20px;
     
     
  }
  .card-sl {
    background-color: #1A1F14;
    width:90%;
    margin-left: 50px;                                      
    margin-right: 80px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .content-wrapper2{
    
    overflow-x: scroll;
  }

}
@media screen and (max-width: 575px) {
  .tx{
   
    font-size: 28px;
   
    margin-left: 50px;
  
}


form .btn-search{
      

  width:90px;
  
  height:60px;

 
}
  form .inner-form  {
    padding: 10px 80px 10px 15px;
  }
  form .inner-form  {
    margin-right: 150px ;
    width:70%
  }
    form .inner-form .basic-search .input-field input {
    padding: 10px 80px 10px 15px;
  }
    form .inner-form .basic-search .input-field .icon-wrap {
    width: 80px;
    -ms-flex-pack: center;
        justify-content: center;
  }
    form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 30px;
    height: 30px;
  }
    form .inner-form .advance-search {
    padding: 30px 15px;
  }
    form .inner-form .advance-search .row {
    display: block;
  }
    form .inner-form .advance-search .input-field {
    width: 100%;
    margin-bottom: 20px;
  }
  .card-image img {
 
   position: relative;
    left: 40px!important;
    margin-top:10px;
    width: 90%!important;
    margin-right: 20px;
   
   
}
.card-sl {
  background-color: #1A1F14;
  width:90%;
  margin-left: 10px!important;                                      
  margin-right: 100px!important;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



}
@media screen and (max-width: 800px) and (min-width:575px) {
  .tx{
   
    font-size: 28px;
   
    margin-left: 50px;
  
}

form .btn-search{
      

  width:90px;
  
  height:60px;

 
}
  form .inner-form  {
    padding: 10px 80px 10px 15px;
  }
  form .inner-form  {
    margin-right: 150px ;
    width:70%
  }
    form .inner-form .basic-search .input-field input {
    padding: 10px 80px 10px 15px;
  }
    form .inner-form .basic-search .input-field .icon-wrap {
    width: 80px;
    -ms-flex-pack: center;
        justify-content: center;
  }
    form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 30px;
    height: 30px;
  }
    form .inner-form .advance-search {
    padding: 30px 15px;
  }
    form .inner-form .advance-search .row {
    display: block;
  }
    form .inner-form .advance-search .input-field {
    width: 100%;
    margin-bottom: 20px;
  }
  .card-image img {
 
   position: relative;
    left: 40px!important;
    margin-top:10px;
    width: 90%!important;
    margin-right: 20px;
   
   
}
.card-sl {
  background-color: #1A1F14;
  width: 250px !important;;
  margin-left: 10px!important;                                      
  margin-right: 80px!important;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clubs-section{
  padding-right: 20px;
}

}
  .card-sl {
    background-color: #1A1F14;
   margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 40px;
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-image img {
    position: relative;
    top:-40px;
    left: 40px;
    height: 200px;
    width: 310px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .card-action {
      position: relative;
      float: right;
      margin-top: -25px;
      margin-right: 20px;
      z-index: 2;
      color: #E26D5C;
      background: #fff;
      border-radius: 100%;
      padding: 11px;
      font-size: 20px;
     padding-left: 15px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-action:hover {
      color: #fff;
      background: #E26D5C;
      -webkit-animation: pulse 1.5s infinite;
  }
  
  .card-heading {
    background-color: #1A1F14;
      font-size: 25px;
      font-weight: bold;
   height:110px;
   color: #fff;
      padding: 20px 45px;
  }
  
  .card-text {
      padding: 10px 15px;
      background: #1A1F14;
      font-size: 14px;
      color: #636262;
  }
  
  .card-button {
      display: flex;
      font-weight: 600;
      text-decoration: none;
      justify-content: center;
      padding: 10px 0;
      width: 100%;
      background-color:#85D236 ;
      color: #fff;
      border-radius: 0 0 8px 8px;
  }
  .card-button:hover {
    display: flex;
    font-weight: 600;
    text-decoration: none;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color:#85D236 ;
    color: #fff;
    border-radius: 0 0 8px 8px;
}
  
  .card-action{
      width:50px;
      height:50px;
      align-items: center;
  }
  .clubs-section{
    padding: 120px;
  }
  @media screen and (max-width: 433px)  {
    .tx{
     
      font-size: 28px;
     
      margin-left: 50px;
    
  }
  
  form .btn-search{
        
  position: absolute;
    width:90px;
    left:0;
    height:60px;
    top:-80px;
  
   
  }
  form .btn-delete{
        
    position: absolute;
      width:90px;
      left:0px;
      height:60px;
      top:-40px
    
     
    }
    form .inner-form  {
      padding: 10px 80px 10px 15px;
    }
    form .inner-form  {
      margin-right: 150px ;
      width:70%
    }
      form .inner-form .basic-search .input-field input {
      padding: 10px 80px 10px 15px;
    }
      form .inner-form .basic-search .input-field .icon-wrap {
      width: 80px;
      -ms-flex-pack: center;
          justify-content: center;
    }
      form .inner-form .basic-search .input-field .icon-wrap svg {
      width: 30px;
      height: 30px;
    }
      form .inner-form .advance-search {
      padding: 30px 15px;
    }
      form .inner-form .advance-search .row {
      display: block;
    }
      form .inner-form .advance-search .input-field {
      width: 100%;
      margin-bottom: 20px;
    }
  
  }
  .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 20px;
     
  }