
.news{
    overflow-x: hidden;
}
.events{
    overflow-x: hidden;
}
.addbutton {
    color: #ffffff;
    float:right;
    position:relative;
    margin-top: 40px;
    margin-bottom:20px;
    right:20px;
    cursor:pointer;
    background-color: #85D236;
    border-color: transparent;
    border-radius: 20px;
    width:150px;
    height:40px
} 
.homebutton {
    color: #ffffff;
    float:right;
    position:relative;
    margin-top: 40px;
    margin-bottom:20px;
    right:20px;
    cursor:pointer;
    background-color: #85D236;
    border-color: transparent;
    border-radius: 20px;
    border-radius: 25px;
    background-color: #85D236;
    width:180px;
    
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    font-weight: 300;
  
    border-color: transparent;
    text-decoration: none;
    text-align:center;display:block;
}
.homebutton:hover {
    color: #ffffff;
  
    text-decoration: none;
  
}
.news h3{
    margin-left:70px;
   padding-top: 50px;
   color: #fff;
   font-size: 40px;
   
}
.news .article{
    height: 320px;
    background-color: #fff;
    margin:60px;
   
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
       justify-content: space-between;
   -ms-flex-align: center;
       align-items: center;
       color:#000
   
    
}
.news .image{
    height:300px;
    margin-left:60px;
   max-width: 40%;
    position:absolute;
    top: -30px;
    left: 0;
}
.news .title{
    position:absolute;
    right:80px;
    top:40px;
    padding-top:0;
    font-size: 25px;
    max-width: 40%;
    padding-left:60px;
    font-weight: 700;
    color:#000
  
}
.news .description{
    position:absolute;
    left:0;
    bottom: 0;
    font-size: 30px;
   
    padding:60px;
    font-weight: 700;
}
.title span{
    color:#85D236;
}
.news .article2{
    height: 320px;
    background-color: #fff;
    margin:60px;
   
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
       justify-content: space-between;
   -ms-flex-align: center;
       align-items: center;
       color:#000
       
   
    
}
.news .image2{
   
    height:300px;
    margin-right:60px;
    max-width:40%;
    position:absolute;
    top: -30px;
    right: 0;
}
.news .title2{
    position:absolute;
    left:80px;
    top:60px;
    font-size: 25px;
    max-width: 30%;
    padding-right:60px;
    font-weight: 700;
    max-width:40%;
    
}
.news .description2{
    position:absolute;
    left:0;
    bottom: 0;
    font-size: 30px;
   
    padding:60px;
    font-weight: 700;

}
.title2 span{
    color:#85D236;
}
.events .article{
    height: 300px;
    background-color: #fff;
    margin:60px;
   
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
       justify-content: space-between;
   -ms-flex-align: center;
       align-items: center;
       color:#000
   
    
}
.events .image{
    height:300px;
    margin-left:60px;
    max-width:40%;
    position:absolute;
    top: -30px;
    left: 0;
}
.events h3{
    margin-left:70px;
   padding-top: 50px;
   color: #fff;
   font-size: 40px;
}
.events .title{
    position:absolute;
    right:0;
    top:20px;
    font-size: 30px;
    max-width: 40%;
    padding:20px;
  
    font-weight: 900;
   
}
.events .title span{
    color:#85D236;
    word-spacing:500px;
    font-weight: bold;
    
}
@media (max-width:991px){
    .news .title2{
       top:25px;
       left:30px;
        
    }
    .news .title{
        top:-10px;
        
         
     }
     .events .title{
       top:-40px
    }
   
   }
   @media (max-width:500px){
    .article2 .title2{
       top:40px;
       left:30px;
        width:200px;
        font-size: 10px;
    }
    .news .image2{
        right:-50px;
        height: 50%;
         
     }
     .news .article2{
        
        height: 200px;
         
     }
    .news .title{
        top:-10px;
        
         
     }
     .events .title{
       top:-40px
    }
   
   }
   @media (max-width:850px){
    .events h3{
        
        font-size: 30px;
       
     }
     .news h3{
         
         font-size: 30px;
        
      }
      .news .title2{
       font-size: 20px;
       top:50px;
       left:50px
         
     }
     .news .title{
         top:-10px;
         font-size: 20px;
          
      }
      .events .title{
        top:-10px;
        font-size: 23px;
     }

  
   }
   @media (max-width:680px){
    .events h3{
        
        font-size: 30px;
       
     }
     .news h3{
         
         font-size: 30px;
        
      }
      .news .title2{
       font-size: 18px;
       top:50px;
       left:20px
         
     }
     .news .title{
         top:-10px;
         font-size: 18px;
          right:28px;
      }
      .events .title{
        top:-10px;
        font-size: 20px;
     }

  
   }
   @media (max-width:590px){
    .events h3{
        
        font-size: 20px;
       
     }
     .news h3{
         
         font-size: 20px;
        
      }
      .news .title2{
       font-size: 16px;
       top:50px;
       left:20px
         
     }
     .news .title{
         top:-10px;
         font-size: 16px;
          right:28px;
      }
      .events .title{
        top:-10px;
        font-size: 16px;
     }
}
     @media (max-width:550px){
 
       .news .article{
            height:200px
        }
        .article .image{
            height:80%;
            left:-20px
        }
        .article .title{
            font-size: 13px;
           right:40px
        }
        .news .article2{
            height:200px
        }
        .article2 .image2{
            height:80%;
            right:-20px
        }
        .article2 .title2{
            font-size: 13px;
        }
        .events .title{
            top:-40px;
            font-size: 18px;
        }
        .events .image{
            height:80%
        }
        .events .article{
            height: 200px;
        }
    }
    @media (max-width:520px){
 
         .article .title{
             font-size: 10px;
           width:90%;
           left:30%
         }
      
         .article2 .title2{
             font-size: 10px;
         }
         .events .title{
             top:-40px;
             font-size: 16px;
             left:50%
         }
       
         
     }
     @media (max-width:420px){
 
        .article .title{
            font-size: 9px;
            top:-30px
        }
     
        .article2 .title2{
            font-size: 9px;
           top:20px
        }
        .events .title{
         
            font-size: 12px;
            left:40%
          
        }
      
        
    }
    @media (max-width:1366px){
 
        .article .title{
            font-size: 20px;
            top:-30px
        }
     
        .article2 .title2{
            font-size: 18px;
           top:20px
        }
        .events .title{
         
            font-size: 18px;
            left:40%;
            display:inline-block;
            color: #85D236;
            width: 100%;
          
        }
      
        
    }